 html,body{ 
  margin:0px; 
  height:100%; 
} 

 .letaoindex{
 	height: 100%;
 	padding-top: 50px;
 }
 .pagecontent{
	height: 100%;
	width: 100%;
}


.letaoindex
.letaoheader{
	width: 100%;
	height: 50px;
	background-color: #3C8DBC;
	position: fixed;
    top: 0;
    right: 0;
}

.letaoindex
.letaoheader
.title{
	width: 180px;
    /*background-color: red;*/
    text-align: center;
}
.title span{
	font-size: 25px;
	color: white;
    line-height: 50px;
}
.letaoindex
.letaoheader
.icon{
	padding: 0 10px;
}
.letaoindex
.letaoheader
.icon a i{
	color: white;
	font-size: 16px;
	line-height: 50px;
}

.letaoindex
.pagecontent
.pageleft{
	width: 180px;
	height: 100%;
	background-color: #222D32;
	color: #ffffff;
	float: left;
}

.pagecontent
.pageleft
.headpic{
   height: 180px;
   padding-top: 30px;
   line-height: 40px;
}

.pagecontent
.pageleft
.headpic
.username{
   font-size: 18px;
}



.pagecontent
.pageleft
.headpic img{
	width: 80px;
	height: 80px;
    border-radius: 50%;

}

.pagecontent
.pageleft{
	text-align: center;
}

.pageleft ul li{
	line-height: 40px;
}
.pageleft ul li a {
	text-decoration: none;
	color: #ffffff;
}
.pageleft ul li a i {
	margin-left: 10px;
}